body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;


    & a {
        font-size: 25px;
        font-weight: 500;
        color: rgb(58, 58, 58) !important;
    }

    & img {
        width: 40px
    }

    .d-flex img {
       
        width: 45px;
        height: 45px;
        transition: .5s;

        @media(max-width:600px) {
           margin-left: 1.6%;
            width: 30px;
            height: 30px;
        }

        &:hover {
            transform: translateY(-3px);
            cursor: pointer;
            scale: 1.05;
        }
    }
}