.registerContainer{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;

    
}

.form {
  @media (max-width: 600px) {
      box-shadow: none;
      width: 100%;
  }

    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:2px;
    margin-top: 20%;
    padding: .5rem;
    width: 400px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    & h1{
      font-size:20px;
  
      & img{
        width:20px
      }
      }
  
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #ff8800;
  }
  small{
    @media (max-width: 600px) {
        width: 80%;
      }
    color: #6B7280;
    font-size: 0.750rem;
    line-height: 1.25rem;
    text-align: center;
  }
  .input-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1rem;
    width: 90%;
    border-radius: 0.5rem;
    letter-spacing: 1px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    color: rgb(254, 115, 1);
  }
  
  .submit {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #ff7700;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 140px;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
    color: orange;
    margin-left: 10px;
    font-size: 15px;
  }