.view{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(249, 249, 191);
    padding-bottom: 10px;

}

.view > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-inline: 30px;
    border-bottom: 3px solid yellow;
    color: rgb(99, 60, 2);
    font-weight: 500;
    margin-top: 10px;
}

.view div  p:nth-child(1){
    background-color: rgb(245, 252, 219);
    padding: 20px;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    padding-inline: 50px;
    line-height: 25px;
    color: rgb(51, 47, 42);
    font-weight: 500;
    margin-top: 10px;
}

.view div  p:nth-child(2) ,.view div  p:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(51, 47, 42);
    font-weight: 500;
    margin-right: 20px;
}

.back{
    padding: .4rem 1rem;
    background-color: rgb(166, 89, 0);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    box-shadow: 10px 20px 20px rgba(255, 255, 255, 0.1);
}
